/* _content/Tenders.Web/Pages/AddDocument.razor.rz.scp.css */
.form-group[b-6xflmw729t] {
    margin-bottom: 2.5%;
}
/* _content/Tenders.Web/Pages/CreateProject.razor.rz.scp.css */
.form-group[b-46gomkh4ok] {
    margin-bottom: 2.5%;
}
/* _content/Tenders.Web/Pages/EditProject.razor.rz.scp.css */
.form-group[b-cr66ggiwc6] {
    margin-bottom: 2.5%;
}

.form-check[b-cr66ggiwc6] {
    margin: 0 -2% 0 -2%;
}
/* _content/Tenders.Web/Pages/Profile.razor.rz.scp.css */
.main-body[b-v97q4nutfw] {
    padding: 15px;
}
.card[b-v97q4nutfw] {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card[b-v97q4nutfw] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body[b-v97q4nutfw] {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm[b-v97q4nutfw] {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col[b-v97q4nutfw], .gutters-sm>[class*=col-][b-v97q4nutfw] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3[b-v97q4nutfw], .my-3[b-v97q4nutfw] {
    margin-bottom: 1rem!important;
}

.bg-gray-300[b-v97q4nutfw] {
    background-color: #e2e8f0;
}
.h-100[b-v97q4nutfw] {
    height: 100%!important;
}
.shadow-none[b-v97q4nutfw] {
    box-shadow: none!important;
}

.card p[b-v97q4nutfw] {
    margin-bottom: .25rem;
}

.card-header[b-v97q4nutfw] {
    padding-bottom: 0;
}

.card-body[b-v97q4nutfw] {
    padding-top: 0;
}

.modal[b-v97q4nutfw] {
    z-index: 10;
}
/* _content/Tenders.Web/Shared/MainLayout.razor.rz.scp.css */
/* _content/Tenders.Web/Shared/NavMenu.razor.rz.scp.css */
